[submodule "vendor/graphicsLibrary"]
	path = vendor/graphicsLibrary
	url = https://github.com/NathanielHawron/graphicsLibrary.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
